body {
    font-family: Arial, sans-serif;
    background-color: lightgoldenrodyellow;
    justify-content: center;
    align-items: center;
    display: flexbox;
}

table {
    border-collapse: collapse;
    width: 60%;
}

table, td {
    border: 1px solid #333;
    padding: 8px;
}
th {
    color: #fff;
    background-color: midnightblue;
    border: 1px solid #333;
    padding: 8px;
}
a {
    text-decoration: none;
    color: blue;
}

form {
    border:solid 2px #333;
    border-radius: 15px;
    padding: 10px 10px 10px;
    width: 20%;
}
form input {
    padding: 5px 5px 5px 5px;
}
button {
    width: 80px;
    background-color: rgb(0, 29, 126);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}