body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid #333;
    padding: 8px;
}
a {
    text-decoration: none;
    color: blue;
}

button{
    width: 80px;
    background-color: rgb(0, 29, 126);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}