body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid #333;
    padding: 8px;
}

a {
    text-decoration: none;
    color: blue;
}

form button .btn{
    padding: 5px 10px;
    margin-top: 10px;
    color: darkblue;
    background-color:goldenrod;
    border-radius: 15px;
}
